body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-top: 1em;
}

.topnav {
  position: relative;
  overflow: hidden;
  padding: 1em 9em;
  box-shadow: 0 10px 6px -6px #f4f4f4;
}

.topnav i {
  vertical-align: middle;
}

.space-shuttle {
  color:#ff395b;
  position: absolute;
  top: 20px;
  left: 5em;
  transform: rotate(270deg)
}

.spacebnb {
  position: absolute;
  text-align: top;
  font-size: 20px;
  color: #ff395b;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 50px;
}

.topnav a {
  color: #222223;
  font-style: normal;
  text-decoration: none;
  vertical-align: middle;
}

.topnav-centered {
  padding-top: 7px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ddd;
  padding-left: 1em;
  border-radius: 30px;
  width: 15em;
}

.topnav-centered input[type=text] {
  border: none;
  padding-top: 5px;
}

.topnav-centered button {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  background-color: #ff395b;
  color: white;
  border: none;
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

::placeholder {
  color: #222223;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 5px;
}

.topnav-right {
  float: right;
}

.topnav-right a {
  margin-left: 2em;
}

.topnav-right i {
  margin-left: 1em;
  color: #222223;
}

.topnav-right button {
  background-color: white;
  border: 1px solid #ddd;
  height: 2em;
  padding: 5px;
  margin-left: 1em;
  border-radius: 30px;
  vertical-align: middle;
}

.topnav-right .menu {
  vertical-align: 85%;
}

.topnav-right .user {
  margin-left: 10px;
  height: 2em;
  color: #717171;
}

#title {
  width: 86%;
  padding-left: 7%;
}

#description {
  padding-left: 4%;
  padding-right: 4%;
}

#reviews {
  width: 80%;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left:  8%;
  margin-right:  8%;
  border-top: 1px solid #ddd;
}

.footer {
  padding: 27px 9em;
  color: #222223;
  font-weight: 300;
  background-color: #f7f7f7;
}

table {
  border-collapse: collapse;
  margin-bottom: 27px;
}

td, th {
  text-align: left;
  padding: 8px;
  font-size: 13px;
}

td:hover {
  text-decoration: underline;
  cursor: pointer;
}

hr {
  border-top: 1px solid #ddd;
}

.footer-bottom {
  padding-top: 27px;
}

.footer-right {
  float: right;
  font-weight: 500;
}

.footer-right i {
  padding-left: 1em;
  cursor: pointer;
}

.footer-right a {
  color: #222223;
}
.footer-right .facebook {
  padding-left: 4em;
}